<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,wap">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title>{$doc.title}_{$get_config.WEB_SITE_NAME}</title>
    <meta name="keywords" content="{$doc.keywords|default=$get_config.WEB_SITE_KEYWORDS}">
    <meta name="description" content="{$doc.description|default=$get_config.WEB_SITE_DESCRIPTION}">
    <script type="text/javascript" src="__STATIC__/template/cloudcms/static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/template/cloudcms/static/css/cloud.css">
    <link rel="stylesheet" href="__STATIC__/template/cloudcms/static/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/template/cloudcms/static/css/swiper.animate.min.css">
    <script type="text/javascript" src="__STATIC__/template/cloudcms/static/js/cloud.js"></script>
    <script type="text/javascript" src="__STATIC__/template/cloudcms/static/js/Superslide.js"></script>
    <script type="text/javascript" src="__STATIC__/template/cloudcms/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="__STATIC__/template/cloudcms/static/js/wow.min.js"></script>
    <!-- 代码颜色和复制 start -->
    <link rel="stylesheet" href="__STATIC__/common/lib/codecolor/css/BlackMac.css"/>
    <script src="__STATIC__/common/lib/codecolor/js/clipboard.min.js"></script>
    <script src="__STATIC__/common/lib/codecolor/js/prism.js"></script>
    <!-- 代码颜色和复制 end -->
</head>
<body>
    {include file="cloudcms/z-head"}
    <div class="yunu_page_banner clearfix" style="background: url(https://fakeimg.pl/1496x220) no-repeat top;">
        <div class="center">
            <div class="text art_conttit">
                <span>{$doc.title}</span>
                <p>
                    <em>发布日期：{$doc.create_time|date="Y-m-d H:i:s"}</em>
                    <em>作者：{$doc.writer}</em>
                    <em>人气：{$doc.view|default=100}</em>
                </p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="newlist3_box clearfix">
            <div class="center">
                <div class="box clearfix">
                    <div class="fl wow fadeInLeft">
                        <div class="new2_content clearfix">
                            <div class="content_content clearfix">
                               {$doc.content}
                            </div>
                            <div class="content_btn clearfix">
                                <div class="show_pages clearfix">
                                    {if condition="$preDoc"}
                                    <p>上一篇：<a href="{$preDoc.arturl}">{$preDoc.title}</a></p>
                                    {else /}
                                    <p>上一篇：<a href="javascript:;">没有了</a></p>
                                    {/if}
                                    {if condition="$nextDoc"}
                                    <p>下一篇：<a href="{$nextDoc.arturl}">{$nextDoc.title}</a></p>
                                    {else/}
                                    <p>下一篇：<a href="javascript:;">没有了</a></p>
                                    {/if}   
                                </div>
                            </div>
                            <div class="xg_newlist clearfix">
                                <h4>相关新闻</h4>
                                <ul>
                                    {volist name=":tag_doc(get_curr_nav_id(),8)" id="vo"}
                                    <li>
                                        <a href="{$vo.arturl}" target="{$vo.target}" rel="{$vo.rel}" title="{$vo.title}">{$vo.title}</a>
                                        <span>{$vo.create_time|date="Y-m-d H:i:s"}</span>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="cloudcms/z-footer"}
</body>
</html>