<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{$doc.title_en}_{$get_config.WEB_SITE_NAME_EN}</title>
    <meta name="keywords" content="{$doc.keywords_en|default=$get_config.WEB_SITE_KEYWORDS_EN}"/>
    <meta name="description" content="{$doc.description_en|default=$get_config.WEB_SITE_DESCRIPTION_EN}"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="__TEMPLATE__/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="__TEMPLATE__/static/css/style.css"/>
    <link rel="stylesheet" href="__TEMPLATE__/static/css/carousel.css"/>
    <script src="__TEMPLATE__/static/js/jquery.min.js"></script>
    <script src="__TEMPLATE__/static/js/bootstrap.min.js"></script>
    <!-- 代码颜色和复制 start -->
    <link rel="stylesheet" href="__STATIC__/common/lib/codecolor/css/BlackMac.css"/>
    <script src="__STATIC__/common/lib/codecolor/js/clipboard.min.js"></script>
    <script src="__STATIC__/common/lib/codecolor/js/prism.js"></script>
    <!-- 代码颜色和复制 end -->
    <!-- 在编辑器填入如下格式即可 -->
    <!-- <pre><code class="code lang-html">Install Package -安装66
        Remove Package -卸载
        Upgrade Package -升级插件
        List Package -查看已安装插件列表
        Disable Package -禁用插件
        enable Package -启用插件 </code> </pre> 
    -->
    <!-- 代码块点击复制 结束-->
    <style>
        .content-body{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {include file="normal/en_m/z-head"}
    <div class="banner">
        <a target="_blank" href="tencent://message/?uin={$get_config.QQ}&Site={$get_config.SITE_DOMAIN}&Menu=yes" rel="nofollow">
            <img src="https://fakeimg.pl/1488x248" title="{$get_config.WEB_SITE_TITLE_EN}_{$get_config.WEB_SITE_NAME_EN}"/>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2">
                <div class="nei-menu">
                    <a href="{:jump_by_lang('en_m')}" class=""> Index </a>
                    {volist name="$pos" id="vo"}
                    <a href="{$vo.typeurl}" target="{$vo.target}" rel="{$vo.rel}" class="">{$vo.typename_en}</a>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center lingyun-content">
                <div class="content-title"><h3>{$doc.title_en}</h3></div>
                <div class="lead sort-title">
                    <b>author：{$doc.writer}</b>
                    <b>date：{$doc.create_time|date="Y-m-d H:i:s"}</b>
                    <b>Browsing volume：{$doc.view|default=100}</b>
                </div>
                <div class="content-body">
                    {$doc.content_en}
                </div>
            </div>
        </div>
        <div class="row m20">
            {if condition="$preDoc"}
            <div class="col-md-12">Last article ： <a href="{$preDoc.arturl}">{$preDoc.title_en}</a></div>
            {else /}
            <div class="col-md-12">Last article ： <a href="javascript:;">Period</a></div>
            {/if}
            {if condition="$nextDoc"}
            <div class="col-md-12">Next article： <a href="{$nextDoc.arturl}">{$nextDoc.title_en}</a></div>
            {else/}
            <div class="col-md-12">Next article ： <a href="javascript:;">Period</a></div>
            {/if}
        </div>
    </div>
    {include file="normal/en_m/z-footer"}
</body>
</html>