/* 配置样式(显示字段名) */
.layui-main {
    margin: 0 10px;
}
.x-nav {
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}
.refresh {
    margin-top: 3px;
    float: right;
}
.layui-fluid {
    position: relative;
    margin: 0 auto;
    padding: 15px;
}
.layui-set-from {
    float: right;
}
.layui-btn-small {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}
.layui-laypage strong {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    border: 1px solid #009688;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    color: #333;
    font-size: 12px;
    left: -1px;
    top: -1px;
    background-color: #009688;
    color: #fff;
    font-weight: 400;
}
.layui-setting .layui-form-label {
    width: 200px;
    text-align: right;
}
.layui-setting  .layui-input-block {
    margin-left: 200px;
    left: -1px;
}
.sysval {

    /* cursor: pointer;*/
    position: absolute;
    right: 10px;
    top: 10px;
}
.sysval em {
    font-style: normal;
    background: #EDF6FF;
    padding: 2px;
    color: #000;
    border: 1px solid #C3E1FF;
    border-radius: 4px;
}
